#update form {
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

#update h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

#update input[type="text"],
#update input[type="password"],
#update input[type="date"],
#update input[type="datetime"],
#update input[type="email"],
#update input[type="number"],
#update input[type="search"],
#update input[type="tel"],
#update input[type="time"],
#update input[type="url"],
#update textarea,
#update select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
#update input[type="text"],
#update input[type="password"],
#update input[type="email"],
textarea {
  border-top: 2px solid #d2d9dd;
}

#update input[type="text"]:focus,
#update input[type="password"]:focus,
#update input[type="email"]:focus,
#update input[type="search"]:focus {
  background: #d2d9dd;
  border-radius: 30px;
  border-top: none;
}

#update textarea:focus {
  background: #d2d9dd;
}

#update input[type="radio"],
#update input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

#update select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

#update button {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #fff;
  margin: 0 auto;
  background: #0d6efd;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  transition: 0.4s;
}

#update button:hover {
  color: #9b59b6;
  width: 70%;
  border-radius: 30px;
  background: transparent;
  border-width: 2px 2px 3px;
  border-color: #9b59b6;
}

#update fieldset {
  margin-bottom: 30px;
  border: none;
}

#update legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

#update label {
  display: block;
  margin-bottom: 8px;
}

#update label.light {
  font-weight: 300;
  display: inline;
}

#update .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 8px 5px 8px 20px;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}
@media screen and (min-width: 1024px) {
  form {
    max-width: 960px;
  }
  fieldset {
    position: relative;
    float: left;
    width: 45%;
  }

  fieldset.profile {
    width: 54%;
    float: right;
  }
}
